@import url("https://fonts.googleapis.com/css2?family=Alata&family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

.contactcontainer {
  margin-top: 40px;
  padding-top: 10px;
  /* height: 50vh; */
  background-color: rgb(252, 242, 242);
}
.contactcontainer__inside > .addr {
  font-size: 20px;
  margin-left: 15%;
  text-align: left;
}
.contactcontainer__inside > h4 {
  font-size: 30px;
  margin-left: 15%;
  text-align: left;
}
.contactcontainer__inside > h1 {
  font-size: 40px;
  margin-left: 10%;
  text-align: left;
  color: rgb(184, 8, 8);
}

.conatcticon {
  text-align: center;
}
.conatcticon .fa {
  margin-top: 100px;
  color: black;
}
.footer {
  font-size: 20px;
  font-family: "Alata", serif;
  text-align: center;
  opacity: 0.5;
}
.contactcontainer__inside > .conatcticon > a {
  padding: 5px;
  font-size: 20px;
  color: black;
}
@media (max-width: 991px) {
  .contactcontainer__inside > .conatcticon > a {
    font-size: 15px;
  }
  .footer {
    font-size: 12px;
  }
  .contactcontainer__inside > h1 {
    font-size: 20px;
  }
  .contactcontainer__inside > h4 {
    font-size: 15px;
  }
  .contactcontainer__inside > .addr {
    font-size: 12px;
  }
}
