@import url("https://fonts.googleapis.com/css2?family=Alata&family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

.contactcontainer {
  margin-top: 40px;
  padding-top: 10px;
  /* height: 50vh; */
  background-color: rgb(252, 242, 242);
  /* background-color: black;
  color: white; */
}
.contactcontainer__inside > .addr {
  font-size: 20px;
  margin-left: 15%;
  text-align: left;
}
.contactcontainer__inside > h4 {
  font-size: 30px;
  margin-left: 15%;
  text-align: left;
}
.contactcontainer__inside > h1 {
  font-size: 40px;
  margin-left: 10%;
  text-align: left;
  color: rgb(184, 8, 8);
}

.conatcticon {
  text-align: center;
}
.footer {
  font-size: 20px;
  font-family: "Alata", serif;
  text-align: center;
  opacity: 0.5;
}

.conatcticon > a > .github {
  width: 40px;
}
.conatcticon > a > .discord {
  width: 50px;
  margin-left: 20px;
}
.conatcticon > a > img {
  margin-top: 100px;
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  .contactcontainer__inside > .conatcticon > a {
    font-size: 15px;
  }
  .footer {
    font-size: 12px;
  }
  .contactcontainer__inside > h1 {
    font-size: 20px;
  }
  .contactcontainer__inside > h4 {
    font-size: 15px;
  }
  .contactcontainer__inside > .addr {
    font-size: 12px;
  }
  .conatcticon > a > .github {
    width: 25px;
  }
  .conatcticon > a > .discord {
    width: 30px;
    margin-left: 7px;
  }
  .conatcticon > a > img {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}
