@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

a {
  text-decoration: none !important;
}

.header {
  /* display: flex; */
  align-items: center;
  color: white;
  background: black;
  justify-content: center;
  position: sticky;
  z-index: 2000;
  /* padding: 0px !important;
  margin: 0px !important; */
}

.header__left {
  /* padding-top: 0.5rem; */
  display: flex;
  padding-left: 5vw;
  flex: 0.3;
  align-items: center;
  justify-content: center;
  color: white;
}

.header__left > h1 {
  text-align: center;
  font-family: "Alata", sans-serif;
  letter-spacing: 1px;
  /* padding: 3px 0; */
  font-size: 30px;
  padding: 0px !important;
  margin: 0px !important;
}
.header__left > h1 > span {
  background-color: #f64c08;
  border-radius: 5px;
  padding: 0 5px;
  /* margin-left: 5px; */
}

.imagelogo {
  /* background-color: white; */
  position: relative;
  margin-right: 0;
  padding: 0;
  left: 2px;
  top: 0px;
}

.navbar-right {
  display: flex;
  flex: 0.7;
  justify-content: space-evenly;
}
.navbar-right > li > a > h4:hover {
  transform: scale(1.09);
  background-color: #f64c08;
  color: white;
  padding: 5px 20px;
  border-radius: 2px;
  letter-spacing: 1px;
  font-family: "Crimpson pro", serif;
}
.navbar-right > li > a > h4 {
  cursor: pointer;
  transition: transform 200ms ease-in-out;
  letter-spacing: 1px;
  font-size: 20px;
  color: white;
}

.navbar-right > h1 {
  /* padding: 0px !important; */
  margin: 0px !important;
}

.navbar-collapse {
  justify-content: space-evenly;
}

.bg-dark {
  background-color: black !important;
}

@media (max-width: 991px) {
  .navbar-right > li > a > h4 {
    font-size: 15px;
  }
  .header__left > h1 {
    font-size: 25px;
  }
}
