.missioncontainer {
  /* min-height: 100vh; */
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
.Title {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 40px;
  font-family: "Alata", sans-serif;
  font-size: 40px;
}
div > h1 {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "Alata", sans-serif;
  font-size: 40px;
}

@media (max-width: 991px) {
  .missioncontainer {
    font-size: 12px;
  }
  div > h1 {
    font-size: 20px;
  }
  .Title {
    font-size: 20px;
  }
}
