@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

.text-dark {
  font-family: "Alata", sans-serif;
}

@media (max-width: 991px) {
  .text-dark {
    font-size: 16px;
  }
}
.cardcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-dark {
  margin-top: 30px;
}

 .cardbody {
  background: radial-gradient(#e5e5e5, #ffff, #e5e5e5);
}

/*.card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  object-fit: cover;
} 
/* .card-title {
  font-size: 25px;
}

.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}
.card-body {
  padding: 2rem !important;
}

.card-text {
  font-size: 18px;
  padding: 0.4rem 1.9rem;
}
.container-fluid.row {
  padding-top: 6rem;
}

.card-img-top {
  transform: scale(1);
  transition: transform 0.5s ease;
}

.card-img-top:hover {
  transform: scale(1.5);
}
.overflow {
  overflow: hidden;
}

@media (max-width: 991px) {
  .card-text {
    font-size: 12px;
  }
  .card-title {
    font-size: 15px;
  }
} */
